@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500;700;800&family=Poppins:wght@300;400;500&display=swap');

/* Add your custom CSS here */

:root {
    --check-size: 100px;
    --chcek-border-width: 4px;
    --chcekmark-width: calc(var(--check-size) / 2);
    --chcekmark-height: calc(var(--chcekmark-width) / 2);
    --chcekmark-left: calc(var(--chcekmark-width) / 2);
    --chcekmark-top: 50%;
    --chcekmark-color: #19b8a2;

}
/* body{
    position: relative;
    width: 100%;
    height: 90vh;
    background: url('../imgs/trw5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.button {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.button a {
    text-decoration: none;
}

.button button {
    width: 50%;
    color: #fff;
    margin: 30px;
    border: 0;
    display: block;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    padding: 10px 0;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.button .btn-one {
    background: transparent;
    color: #000;
}

.button .btn-one:hover,
.button .btn-two:hover {
    background: #F4D03F;
    color: #fff;
}

.button .btn-two {
    background: black;

}

.button button img{
    width: 30px ;
    height: 30px;
    margin: 0px 15px;
}

.checkmark-wrapper {
    width: var(--check-size);
    height: var(--check-size);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.checkmark-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--chcek-border-width) solid #f8f8f8;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 0;
}

.checkmark-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--chcek-border-width) solid transparent;
    border-left-color: var(--chcekmark-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 1;
    animation: circle linear forwards .75s;
}

.checkmark {
    height: var(--chcekmark-height);
    width: var(--chcekmark-width);
    position: absolute;
    opacity: 0;
    left: var(--chcekmark-left);
    top: var(--chcekmark-top);
    display: block;
    border-left: var(--chcek-border-width) solid var(--chcekmark-color);
    border-bottom: var(--chcek-border-width) solid var(--chcekmark-color);
    transform-origin: left top;
    transform: rotate(-45deg);
    animation: checkmark linear both 1s;
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
    }

    80% {
        height: 0;
        width: 0;
        opacity: 0;
    }

    90% {
        height: var(--chcekmark-height);
        width: 0;
        opacity: 1;
    }

    100% {
        height: var(--chcekmark-height);
        width: var(--chcekmark-width);
        opacity: 1;
    }
}

@keyframes circle {
    0% {
        border-color: transparent;
        border-left-color: var(--chcekmark-color);
    }

    90% {
        transform: rotate(-360deg);
        border-color: transparent;
        border-left-color: var(--chcekmark-color);
    }

    100% {
        transform: rotate(-360deg);
        border-color: var(--chcekmark-color);
    }
}


@media (max-width: 768px) {

    .button{
        margin-left: 25%;
    }
    .button button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        width: 60%;
    }

    .button button img{
        width: 20px ;
        height: 20px;
        margin: 0px 10px;
    }
}